@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 55px;

    @include flex_box_custom(space-between, center, 0);
}

.containerCard {
    @include flex_box_custom(center, center, 18px);
}

.containerContent {
    @include flex_box_custom(center, flex-start, 13px, column);
    font-weight: 300;

    .title {
        font-size: 17px;
        color: $white_color;
    }

    .des {
        font-size: 16px;
        color: #ffffffc7;
    }
}
